
<div class="row">
  <h3>Data</h3>
  </div>



<tc-card class="mb-0">
<tc-table [rows]="rows" [search]="true"  [hovered]="true" [pagination]="true" [headerBgColor]="'#336cfb'" [headerColor]="'#fff'" >
  <tc-table-col [columnTitle]="'Name'" [columnName]="'studentinfo'" [enableSorting]="true"> 

  	<ng-template #tableTDTemplate let-value>
       {{ value.studentname}}
      </ng-template>

  </tc-table-col>

  <tc-table-col [columnTitle]="'FName'" [columnName]="'studentinfo'" [enableSorting]="true"> 

    <ng-template #tableTDTemplate let-value>
       {{ value.fathername}}
      </ng-template>

  </tc-table-col>

  <tc-table-col [columnTitle]="'Roll Number'" [columnName]="'studentinfo'">
    <ng-template #tableTDTemplate let-value>
      {{value.matricenrollmentnumber}}
    </ng-template>
  </tc-table-col>
  <tc-table-col [columnTitle]="'Group'" [columnName]="'grouptype'">
  </tc-table-col>

  <tc-table-col [columnTitle]="'English'" [columnName]="'EnglishMarks'"></tc-table-col>
  <tc-table-col [columnTitle]="'Urdu'" [columnName]="'UrduMarks'"></tc-table-col>
  <tc-table-col [columnTitle]="'ISL/ETHIC'" [columnName]="'IslamiatorethicsMarks'"></tc-table-col>
  <tc-table-col [columnTitle]="'IslamicStudies'" [columnName]="'IslamicstudiesMarks'"></tc-table-col>
  <tc-table-col [columnTitle]="'Commerce'" [columnName]="'CommerceMarks'"></tc-table-col>
  <tc-table-col [columnTitle]="'Geography'" [columnName]="'GeographyMarks'"></tc-table-col>
  <tc-table-col [columnTitle]="'Civics'" [columnName]="'CivicsMarks'"></tc-table-col>
  <tc-table-col [columnTitle]="'Economics'" [columnName]="'EconomicsMarks'"></tc-table-col>


  <tc-table-col [columnTitle]="'Total Marks'" [columnName]="'TotalMarks'"></tc-table-col>
  <tc-table-col [columnTitle]="'Cleared Papers'" [columnName]="'Totalclearedpaper'"></tc-table-col>


  <tc-table-col [columnTitle]="'Percentage'" [columnName]="'OverallPercentage'" > </tc-table-col>
<tc-table-col [columnTitle]="'Grade'" [columnName]="'grade'"></tc-table-col> 
  <tc-table-col [columnTitle]="'Exam Type'" [columnName]="'examtype'" >
    <!-- <ng-template #tableTDTemplate  let-value>
     <tc-badge [view]="'success'" > {{value}} </tc-badge>
    </ng-template> -->
</tc-table-col>

<tc-table-col [columnTitle]="'Operations'">
  <ng-template #tableTDTemplate let-value >
  <button tc-button [block]="true" [view]="'accent'" (click)="generatePdf(rows)"  > Print Marksheet</button>
  <button tc-button [block]="true" [view]="'accent'" > {{value}} Print Data</button>
</ng-template>
  </tc-table-col>
    
 </tc-table>

 </tc-card>