@import '~assets/sass/variables';

:host {
  
 

  .register-page & {
    background: url('~assets/content/register-page.jpg') 50% 50% no-repeat;
  }
  .content-box {
    
    
    .content-header {
      padding-top: $module-rem * 2;
    }
    .content-body {
      align-items: center;
      

      ::ng-deep {
        > * {
          display: block;
          width: 100%;
        }

        router-outlet {
          display: none;
        }
      }
    }
  }
}
