



<div class="row">
   <div class="col-12">
      <h5>Import Records</h5>
   </div>

   <div class="col-6 ">
      <tc-input #fileinput [type]="'file'" (change)="convertFile($event)" ></tc-input >
   </div>

   <div class="col-6">
      <button tc-button (click)="previewdata(modalBody, 'Student Data', modalFooter, { width: '100%' })">Preview Data</button>
   </div>

   

   
</div>

<div class="row">
  <div class="col-1">
      <h4>OR </h4>
    </div>

    <div class="col-6" *ngIf="successmessage">
      <tc-badge [view]="'success'" style="margin-top:18px;">All data  are successfully inserted</tc-badge>
   </div>
  </div>



 

<div class="row">
   <div class="col-6">
<tc-card [title]="'Add Student Record'" [view]="'accent'" [outline]="true">
  
   <form [formGroup]="form" novalidate >
    <tc-form-group>      
        <tc-select [placeholder]="'Select School'"  [options]="dropdowndata" formControlName="schoolid" ></tc-select>
    </tc-form-group>
      OR
    <tc-form-group class= "formclassmargin">
            <tc-input [placeholder]="'Add School'" formControlName="schoolname"></tc-input>
    </tc-form-group>


   <tc-form-group class= "formclassmargin">
    
    <tc-input [placeholder]="'Name'" formControlName="studentname"></tc-input>
    
   </tc-form-group>

   <tc-form-group class= "formclassmargin">
    
    <tc-input [placeholder]="'Father Name'" formControlName="fathername" ></tc-input>
    
   </tc-form-group>

   <tc-form-group class= "formclassmargin">
                <tc-input [placeholder]="'Date of Birth'" [type]="'date'" formControlName="dateofbirth"></tc-input>
  </tc-form-group>


  <tc-form-group class= "formclassmargin">

    <tc-input [placeholder]="'Year Appearing'" formControlName="yearofappearing" ></tc-input>
    
  </tc-form-group>

   <tc-form-group class= "formclassmargin">
    
    <tc-input [placeholder]="'Enrollment Number'" formControlName="enrollmentnumber" ></tc-input>
    
   </tc-form-group>


   <tc-form-group class= "formclassmargin">
    
    <tc-input [placeholder]="'English Marks'"  formControlName="englishmarks"></tc-input>
    
   </tc-form-group>


   <tc-form-group class= "formclassmargin">
    
    <tc-input [placeholder]="'Sindhi Marks'" formControlName="sindhimarks" ></tc-input>
    
   </tc-form-group>


   <tc-form-group class= "formclassmargin">
    
    <tc-input [placeholder]="'Pakistan Studies Marks'" formControlName="pakistanstudiesmark"></tc-input>
    
   </tc-form-group>

   <tc-form-group class= "formclassmargin">
  <tc-input [placeholder]="'Chemistry Theory Marks'" formControlName="chemistrytheorymarks" ></tc-input>
  </tc-form-group>

   <tc-form-group class= "formclassmargin">
              <tc-input [placeholder]="'Chemistry Practical Marks'"  formControlName="chemistrypracticalmarks"></tc-input>
  </tc-form-group>

<tc-form-group class= "formclassmargin">
            <tc-input [placeholder]="'Computer Theory Marks'" formControlName="computertheorymarks" ></tc-input>
 </tc-form-group>

<tc-form-group class= "formclassmargin">
  <tc-input [placeholder]="'Computer Practical Marks'"  formControlName="computerpracticalmarks"></tc-input>
</tc-form-group>


   <button tc-button (click)="insertstudent()" tc-button [block]="true" [view]="'accent'" [disabled]="form.invalid" >Add Record</button>
</form>
</tc-card>
</div>


</div>


<ng-template #modalBody>
<tc-card class="mb-0">
   <tc-table [rows]="previewimportdata"   [hovered]="true" [pagination]="true" [headerBgColor]="'#336cfb'" [headerColor]="'#fff'" >
     <tc-table-col [columnTitle]="'Name'" [columnName]="'studentname'" [enableSorting]="true"> </tc-table-col>
     <tc-table-col [columnTitle]="'FName'" [columnName]="'fathername'"></tc-table-col>
     <tc-table-col [columnTitle]="'Roll Np'" [columnName]="'enrollmentnumber'"></tc-table-col>
     <tc-table-col [columnTitle]="'DOB'" [columnName]="'dateofbirth'"></tc-table-col> 
     <tc-table-col [columnTitle]="'Eng'" [columnName]="'englishmarks'"></tc-table-col>  
     <tc-table-col [columnTitle]="'Sindi'" [columnName]="'sindhimarks'"></tc-table-col>
     <tc-table-col [columnTitle]="'PST'" [columnName]="'pakistanstudiesmark'"></tc-table-col>
     <tc-table-col [columnTitle]="'ChemThe'" [columnName]="'chemistrytheorymarks'"></tc-table-col>
     <tc-table-col [columnTitle]="'ChemPrac'" [columnName]="'chemistrypracticalmarks'"></tc-table-col>
     <tc-table-col [columnTitle]="'Computer Theory Marks'" [columnName]="'computertheorymarks'"></tc-table-col>
     <tc-table-col [columnTitle]="'Computer Practical Marks'" [columnName]="'computerpracticalmarks'"></tc-table-col>
     <tc-table-col [columnTitle]="'School Name'" [columnName]="'schoolname'"></tc-table-col>  
    </tc-table>
   
    </tc-card>

    </ng-template>

    <ng-template #modalFooter>
      <div class="actions justify-content-between">
        <button tc-button [view]="'error'" (click)="closeModal()">Close</button>
        <button tc-button [view]="'success'" (click)="bulkinsert()">Bulk Insert</button>
      </div>
    </ng-template>