
<h2 class="h4 mt-0 mb-1">Forgot Password</h2>
<p [tcColor]="'#8f8f90'">Request password reset</p>


<form (ngSubmit)="submit()" [formGroup]="passwordresetForm" novalidate>
 
  <tc-form-group>
    <tc-input [placeholder]="'emailaddress'" formControlName="emailaddress"></tc-input>
  </tc-form-group>

 
  
  <div class="actions justify-content-between">
    <button tc-button [view]="'accent'" [beforeIcon]="'icofont-login'">
      Request password reset
    </button>
  </div>
</form>


<p class="mt-5 mb-1">Have an account? <a [routerLink]="['../','login']" href="#">Sign in!</a></p>
<p>Don't have an account? <a [routerLink]="['../', 'signup']">Sign up!</a></p>

