
<div class="row">
	<div class="col-12">
		<h3> SSC Part 1 Computer Group</h3>
	</div>
</div>


<div class="row">
		<div class="col-6">
			<button tc-button (click)="insertsciencedata()">Insert Data</button>
		</div>


		<div class="col-6">
			<button tc-button (click)="displaydata()">Display Data</button>
		</div>
	</div>



<div class="row">
	<div class="col-12">
		<h3> SSC Part 1 Bio Group</h3>
	</div>
</div>


<div class="row">
		<div class="col-6">
			<button tc-button (click)="insertbiodata()">Insert Data</button>
		</div>


		<div class="col-6">
			<button tc-button (click)="displaybiodata()">Display Data</button>
		</div>
	</div>
