


<!-- <div class="row justify-content-center align-items-center">
<div class="col-12">
 <logo [src]="'assets/img/zuboard-logo.png'" [width]="250" [height]="250"></logo>
</div>
</div>
 -->
<div class="container ">
<form (ngSubmit)="login()" [formGroup]="loginForm" novalidate>
<div class="row  justify-content-center align-items-center">

  <div class="col-6">
    <tc-card [title]="'Login to Ziauddin Educational Board'" [view]="'accent'" [outline]="true" style="margin-top: 36% !important;">

      <div class="row">
        <div class="col-12">
          <tc-form-group>
                <tc-input [placeholder]="'username'" formControlName="username"></tc-input>
          </tc-form-group>
        </div>
      </div>


      <div class="row">
        <div class="col-12">
          <tc-form-group>
                <tc-input [placeholder]="'Password'" [type]="'password'" formControlName="pass"></tc-input>
          </tc-form-group>
        </div>
      </div>


      <div class="row">
        <div class="col-12">
          <button tc-button class="buttoncolor" [beforeIcon]="'icofont-login'">
      Login
    </button>
        </div>
      </div>



      </tc-card>
  </div>
</div>
</form>
</div>

<!-- <form (ngSubmit)="login()" [formGroup]="loginForm" novalidate>
  <div *ngIf="validationfail">
          Form validation failed
        </div>
  <tc-form-group>
    <tc-input [placeholder]="'emailaddress'" formControlName="emailaddress"></tc-input>
  </tc-form-group>

  <tc-form-group>
    <tc-input [placeholder]="'Password'" [type]="'password'" formControlName="pass"></tc-input>
  </tc-form-group>

  <tc-form-group>
    <tc-switcher [value]="true">Remember me</tc-switcher>
  </tc-form-group>

  <div class="actions justify-content-between">
    <button tc-button class="buttoncolor" [beforeIcon]="'icofont-login'">
      Login
    </button>
  </div>
</form>
 -->
