
<div class="row">
  <h3>Users Account</h3>
</div>



<tc-card class="mb-0">
<tc-table [rows]="userslist"   [hovered]="true" [pagination]="true" [headerBgColor]="'#336cfb'" [headerColor]="'#fff'" >
  <tc-table-col [columnTitle]="'ID'" [columnName]="'id'" [enableSorting]="true"> </tc-table-col>
  <tc-table-col [columnTitle]="'Name'" [columnName]="'name'"></tc-table-col>
  <tc-table-col [columnTitle]="'Email'" [columnName]="'email'"></tc-table-col>
  <tc-table-col [columnTitle]="'Role'" [columnName]="'role'"></tc-table-col> 
  <tc-table-col [columnTitle]="'Operations'" [columnName]="'id'">
  
  
<!--   <ng-template #tableTDTemplate let-value>
    
        <button tc-button (click)="updateuser(value,updateBody, '', null, { width: '100%' })" tc-button [block]="true" [view]="'accent'">updateuser</button>
        <button tc-button (click)="deleteuser(value)" tc-button [block]="true" [view]="'accent'">deleteuser</button>
      </ng-template> -->

      <ng-template #tableTDTemplate let-value>
        <div class="actions">
          <button
            tc-button
            [afterIcon]="'icofont-ui-edit'"
            [view]="'info'"
            [square]="true"
            [tcShape]="500"
            [size]="'sm'"
            (click)="updateuser(value,updateBody, '', null, { width: '100%' })"
          ></button>

          <button
            tc-button
            [afterIcon]="'icofont-ui-delete'"
            [view]="'error'"
            [square]="true"
            [tcShape]="500"
            [size]="'sm'"
            (click)="deleteuser(value)"
          ></button>
        </div>
      </ng-template>
    </tc-table-col>  
 </tc-table>

 </tc-card>


<div class="row">
  <div class="col-3">
    <button tc-button (click)="insertuser(modalBody, '', null, { width: '100%' })" tc-button [block]="true" [view]="'accent'"  >Add User</button>
  </div>
  </div>


  <ng-template #modalBody>
   
<div class="row">
   <div class="col-12">
<tc-card [title]="'Add User'" [view]="'accent'" [outline]="true">
  
   <form [formGroup]="form" novalidate >
    
   <tc-form-group>
    
    <tc-input [placeholder]="'Name'" formControlName="name"></tc-input>
    
   </tc-form-group>

   <tc-form-group>
    
    <tc-input [placeholder]="'Email'" formControlName="email" ></tc-input>
    
   </tc-form-group>

   <tc-form-group>
                <tc-input [placeholder]="'Password'" [type]="'password'" formControlName="password"></tc-input>
  </tc-form-group>


  <tc-form-group>      
        <tc-select [placeholder]="'Select Role'"  [options]="usertype" formControlName="role" ></tc-select>
    </tc-form-group>

   <button tc-button (click)="adduser()" tc-button [block]="true" [view]="'accent'" [disabled]="form.invalid" >Add User</button>
</form>
</tc-card>
</div>
</div>
</ng-template>



<ng-template #updateBody>
   
<div class="row">
   <div class="col-12">
<tc-card [title]="'Update User'" [view]="'accent'" [outline]="true">
  
   <form [formGroup]="updateform" novalidate >
    
   <tc-form-group>
    
    <tc-input [placeholder]="'Name'" formControlName="name"></tc-input>
    
   </tc-form-group>

   <tc-form-group>
    
    <tc-input [placeholder]="'Email'" formControlName="email" ></tc-input>
    
   </tc-form-group>

   <tc-form-group>
                <tc-input [placeholder]="'Password'" [type]="'password'" formControlName="password"></tc-input>
  </tc-form-group>


  <tc-form-group>      
        <tc-select [placeholder]="'Select Role'"  [options]="usertype" formControlName="role" ></tc-select>
    </tc-form-group>

   <button tc-button (click)="updateuserdetails()" tc-button [block]="true" [view]="'accent'" [disabled]="updateform.invalid" >Update User</button>
</form>
</tc-card>
</div>
</div>
</ng-template>
