




<form [formGroup]="form" novalidate>
<div class="row">
  
    <div class="col-3">
      <tc-input [placeholder]="'Search school'" (keyup)="applyFilter($event)" [type]="'search'" formControlName="schoolname" ></tc-input>

    </div>

    <div class="col-3">
      <tc-input [placeholder]="'Search by Name'" [type]="'search'" (keyup)="applyFilter($event)" formControlName="studentname" ></tc-input>
    </div>

    <!--  <div class="col-3">
      <button tc-button [block]="true" [view]="'accent'" (click)="resetselection()" > Reset selected data</button>
    </div>  -->
  
  </div>

<div class="row">
  <div style="margin-top:2px;">
  </div>
</div>


  <div class="row">
    <div class="col-3">
      <tc-input [placeholder]="'Search by fathername'" (keyup)="applyFilter($event)" [type]="'search'"  formControlName="fathername" ></tc-input>
    </div>

    <div class="col-3">
      <tc-input [placeholder]="'Search by roll number'" (keyup)="applyFilter($event)" [type]="'search'" formControlName="enrollmentnumber" ></tc-input>
    </div>

   <!--  <div class="col-3">
      <button tc-button [block]="true" [view]="'accent'"  > Print Marksheet</button>
    </div> -->

    <div class="col-3">
      <button tc-button [block]="true" [view]="'accent'" (click)="downloaduserdata()" > Print Data</button>
    </div>

    </div> 

    

  </form>

  

<div class="row" >
  <h3>Data</h3>
  </div>

<div class="row" *ngIf="!searchresult"  >



<table mat-table [dataSource]="dataSource" *ngIf="!searchresult" >

   <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                   >
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)"
                    >
      </mat-checkbox>
    </td>
  </ng-container>


   <ng-container matColumnDef="studentinfo.studentname">
    <th mat-header-cell *matHeaderCellDef> Name. </th>
    <td mat-cell *matCellDef="let element"> {{element.studentinfo.studentname}} </td>
  </ng-container>

  
  <ng-container matColumnDef="fathername">
    <th mat-header-cell *matHeaderCellDef> Father </th>
    <td mat-cell *matCellDef="let element"> {{element.studentinfo.fathername}} </td>
  </ng-container>

  
   <ng-container matColumnDef="Schoolname">
    <th mat-header-cell *matHeaderCellDef> School </th>
    <td mat-cell *matCellDef="let element"> {{element.studentinfo.schoolname.schoolname}} </td>
  </ng-container>


   <ng-container matColumnDef="enrollmentnumber">
    <th mat-header-cell *matHeaderCellDef> Roll No </th>
    <td mat-cell *matCellDef="let element"> {{element.studentinfo.enrollmentnumber}} </td>
  </ng-container>

 
  <ng-container matColumnDef="englishmarks">
    <th mat-header-cell *matHeaderCellDef> Eng </th>
    <td mat-cell *matCellDef="let element"> {{element.englishmarks}} </td>
  </ng-container>

   <ng-container matColumnDef="sindhimarks">
    <th mat-header-cell *matHeaderCellDef> Sindhi </th>
    <td mat-cell *matCellDef="let element"> {{element.sindhimarks}} </td>
  </ng-container>

  <ng-container matColumnDef="pakistanstudiesmark">
    <th mat-header-cell *matHeaderCellDef> PST </th>
    <td mat-cell *matCellDef="let element"> {{element.pakistanstudiesmark}} </td>
  </ng-container>

  <ng-container matColumnDef="chemistryteory">
    <th mat-header-cell *matHeaderCellDef> ChemTheory </th>
    <td mat-cell *matCellDef="let element"> {{element.chemistrytheorymarks}} </td>
  </ng-container>

  <ng-container matColumnDef="chemistrypractical">
    <th mat-header-cell *matHeaderCellDef> ChemPractical </th>
    <td mat-cell *matCellDef="let element"> {{element.chemistrypracticalmarks}} </td>
  </ng-container>

  <ng-container matColumnDef="computertheory">
    <th mat-header-cell *matHeaderCellDef> ComputerTh </th>
    <td mat-cell *matCellDef="let element"> {{element.computertheorymarks}} </td>
  </ng-container>

  <ng-container matColumnDef="computerpractical">
    <th mat-header-cell *matHeaderCellDef> ComputerPrac </th>
    <td mat-cell *matCellDef="let element"> {{element.computerpracticalmarks}} </td>
  </ng-container>

  <ng-container matColumnDef="examtype">
    <th mat-header-cell *matHeaderCellDef> Exam </th>
    <td mat-cell *matCellDef="let element"> {{element.examtype}} </td>
  </ng-container>

  <ng-container matColumnDef="totalclearedpaper">
    <th mat-header-cell *matHeaderCellDef> Cleared </th>
    <td mat-cell *matCellDef="let element"> {{element.totalclearedpaper}} </td>
  </ng-container> 

  <tr mat-header-row *matHeaderRowDef="displayedColumns" class="header"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click) = "rowClicked(row)"></tr>


</table>


</div> 







 <div class="row" *ngIf="searchresult" >

 <table mat-table [dataSource]="searchresultdata" class="mat-elevation-z8">

  
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                   >
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)"
                    >
      </mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="studentname">
    <th mat-header-cell *matHeaderCellDef> Name. </th>
    <td mat-cell *matCellDef="let element"> {{element.studentname}} </td>
  </ng-container>

  
  <ng-container matColumnDef="fathername">
    <th mat-header-cell *matHeaderCellDef> Father </th>
    <td mat-cell *matCellDef="let element"> {{element.fathername}} </td>
  </ng-container>

  
   <ng-container matColumnDef="Schoolname">
    <th mat-header-cell *matHeaderCellDef> School </th>
    <td mat-cell *matCellDef="let element"> {{element.schoolname.schoolname}} </td>
  </ng-container>


   <ng-container matColumnDef="enrollmentnumber">
    <th mat-header-cell *matHeaderCellDef> Roll No </th>
    <td mat-cell *matCellDef="let element"> {{element.enrollmentnumber}} </td>
  </ng-container>

 
  <ng-container matColumnDef="englishmarks">
    <th mat-header-cell *matHeaderCellDef> Eng </th>
    <td mat-cell *matCellDef="let element"> {{element.ninthcomputerdata? element.ninthcomputerdata.englishmarks:'-' }} </td>
  </ng-container>

   <ng-container matColumnDef="sindhimarks">
    <th mat-header-cell *matHeaderCellDef> Sindhi </th>
    <td mat-cell *matCellDef="let element"> {{element.ninthcomputerdata?element.ninthcomputerdata.sindhimarks: '-'}} </td>
  </ng-container>

  <ng-container matColumnDef="pakistanstudiesmark">
    <th mat-header-cell *matHeaderCellDef> PST </th>
    <td mat-cell *matCellDef="let element"> {{element.ninthcomputerdata?element.ninthcomputerdata.pakistanstudiesmark: '-'}} </td>
  </ng-container>

  <ng-container matColumnDef="chemistryteory">
    <th mat-header-cell *matHeaderCellDef> ChemTheory </th>
    <td mat-cell *matCellDef="let element"> {{element.ninthcomputerdata?element.ninthcomputerdata.chemistrytheorymarks: '-'}} </td>
  </ng-container>

  <ng-container matColumnDef="chemistrypractical">
    <th mat-header-cell *matHeaderCellDef> ChemPractical </th>
    <td mat-cell *matCellDef="let element"> {{element.ninthcomputerdata?element.ninthcomputerdata.chemistrypracticalmarks: '-'}} </td>
  </ng-container>

  <ng-container matColumnDef="computertheory">
    <th mat-header-cell *matHeaderCellDef> ComputerTh </th>
    <td mat-cell *matCellDef="let element"> {{element.ninthcomputerdata?element.ninthcomputerdata.computertheorymarks: '-'}} </td>
  </ng-container>

  <ng-container matColumnDef="computerpractical">
    <th mat-header-cell *matHeaderCellDef> ComputerPrac </th>
    <td mat-cell *matCellDef="let element"> {{element.ninthcomputerdata?element.ninthcomputerdata.computerpracticalmarks: '-'}} </td>
  </ng-container>

  <ng-container matColumnDef="examtype">
    <th mat-header-cell *matHeaderCellDef> Exam </th>
    <td mat-cell *matCellDef="let element"> {{element.ninthcomputerdata?element.ninthcomputerdata.examtype: '-'}} </td>
  </ng-container>

  <ng-container matColumnDef="totalclearedpaper">
    <th mat-header-cell *matHeaderCellDef> Cleared </th>
    <td mat-cell *matCellDef="let element"> {{element.ninthcomputerdata?element.ninthcomputerdata.totalclearedpaper: '-'}} </td>
  </ng-container> 

  <tr mat-header-row *matHeaderRowDef="displayedColumns" class="header"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click) = "rowClicked(row)"></tr> 
</table>

 </div> 







<div id="contentToConvert" *ngIf="displayselecteddata">
  <div class="row">
    <h3>Printed Data</h3>
  </div>

 <div class="row" >

 <table mat-table [dataSource]="selecteddataarray"   class="mat-elevation-z8" >

  
 
  <ng-container matColumnDef="studentname">
    <th mat-header-cell *matHeaderCellDef> Name. </th>
    <td mat-cell *matCellDef="let element"> {{element? element.studentname || element.studentinfo.studentname: '-'}} </td>
  </ng-container>

  
  <ng-container matColumnDef="fathername">
    <th mat-header-cell *matHeaderCellDef> Father </th>
    <td mat-cell *matCellDef="let element"> {{element? element.fathername || element.studentinfo.fathername: '-'}} </td>
  </ng-container>

  
   <ng-container matColumnDef="Schoolname">
    <th mat-header-cell *matHeaderCellDef> School </th>
    <td mat-cell *matCellDef="let element"> {{element.schoolname? element.schoolname.schoolname : element.studentinfo? element.studentinfo.schoolname.schoolname : '-' }} </td>
  </ng-container>


   <ng-container matColumnDef="enrollmentnumber">
    <th mat-header-cell *matHeaderCellDef> Roll No </th>
    <td mat-cell *matCellDef="let element"> {{element.studentinfo? element.studentinfo.enrollmentnumber: element.enrollmentnumber? element.enrollmentnumber: '-' }} </td>
  </ng-container>

 
  <ng-container matColumnDef="englishmarks">
    <th mat-header-cell *matHeaderCellDef> Eng </th>
    <td mat-cell *matCellDef="let element"> {{ element.ninthcomputerdata? element.ninthcomputerdata.englishmarks: element? element.englishmarks: '-'  }} </td>
  </ng-container>s

   <ng-container matColumnDef="sindhimarks">
    <th mat-header-cell *matHeaderCellDef> Sindhi </th>
    <td mat-cell *matCellDef="let element"> {{element.ninthcomputerdata? element.ninthcomputerdata.sindhimarks: element? element.sindhimarks: '-'}} </td>
  </ng-container>

  <ng-container matColumnDef="pakistanstudiesmark">
    <th mat-header-cell *matHeaderCellDef> PST </th>
    <td mat-cell *matCellDef="let element"> {{ element.ninthcomputerdata? element.ninthcomputerdata.pakistanstudiesmark: element? element.pakistanstudiesmark: '-'}} </td>
  </ng-container>

  <ng-container matColumnDef="chemistryteory">
    <th mat-header-cell *matHeaderCellDef> ChemTheory </th>
    <td mat-cell *matCellDef="let element"> {{element.ninthcomputerdata? element.ninthcomputerdata.chemistrytheorymarks: element? element.chemistrytheorymarks: '-'}} </td>
  </ng-container>

  <ng-container matColumnDef="chemistrypractical">
    <th mat-header-cell *matHeaderCellDef> ChemPractical </th>
    <td mat-cell *matCellDef="let element"> {{element.ninthcomputerdata? element.ninthcomputerdata.chemistrypracticalmarks: element? element.chemistrypracticalmarks: '-'}} </td>
  </ng-container>

  <ng-container matColumnDef="computertheory">
    <th mat-header-cell *matHeaderCellDef> ComputerTh </th>
    <td mat-cell *matCellDef="let element"> {{element.ninthcomputerdata? element.ninthcomputerdata.computertheorymarks: element? element.computertheorymarks: '-'}} </td>
  </ng-container>

  <ng-container matColumnDef="computerpractical">
    <th mat-header-cell *matHeaderCellDef> ComputerPrac </th>
    <td mat-cell *matCellDef="let element"> {{element.ninthcomputerdata? element.ninthcomputerdata.computerpracticalmarks: element? element.computerpracticalmarks: '-'}} </td>
  </ng-container>

  <ng-container matColumnDef="examtype">
    <th mat-header-cell *matHeaderCellDef> Exam </th>
    <td mat-cell *matCellDef="let element"> {{element.ninthcomputerdata? element.ninthcomputerdata.examtype: element? element.examtype: '-'}} </td>
  </ng-container>

  <ng-container matColumnDef="totalclearedpaper">
    <th mat-header-cell *matHeaderCellDef> Cleared </th>
    <td mat-cell *matCellDef="let element"> {{element.ninthcomputerdata? element.ninthcomputerdata.totalclearedpaper: element? element.totalclearedpaper: '-'}} </td>
  </ng-container> 
 -->
  <tr mat-header-row *matHeaderRowDef="pdftableColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: pdftableColumns;"  ></tr> 
</table>
</div>
</div>





