
<div class="row">
  <h3>Data</h3>
  </div>



<tc-card class="mb-0">
<tc-table *ngIf="!showmarksheet" [rows]="rows" [search]="true"  [hovered]="true" [pagination]="true" [headerBgColor]="'#336cfb'" [headerColor]="'#fff'" >
  <tc-table-col [columnTitle]="'Name'" [columnName]="'studentname'" [enableSorting]="true">   
  </tc-table-col>

  <tc-table-col [columnTitle]="'FName'" [columnName]="'studentfathername'" [enableSorting]="true"> </tc-table-col>

  <tc-table-col [columnTitle]="'Roll Number'" [columnName]="'studentrollnumber'"> </tc-table-col>
  <!-- <tc-table-col [columnTitle]="'Group'" [columnName]="'grouptype'">
  </tc-table-col> -->

  <tc-table-col [columnTitle]="'English'" [columnName]="'englishmarks'"></tc-table-col>
  <tc-table-col [columnTitle]="'Urdu'" [columnName]="'urdumarks'"></tc-table-col>
  <tc-table-col [columnTitle]="'IslamicStudies'" [columnName]="'islamiatmarks'"></tc-table-col>

  <tc-table-col [columnTitle]="'Physics Theory'" [columnName]="'physicstheorymarks'"></tc-table-col>
  <tc-table-col [columnTitle]="'Physics Practical'" [columnName]="'physicspracticalmarks'"></tc-table-col>
  
  
  <tc-table-col [columnTitle]="'Chemistry Theory'" [columnName]="'chemistrytheorymarks'"></tc-table-col>
  <tc-table-col [columnTitle]="'Chemistry Practical'" [columnName]="'chemistrypracticalmarks'"></tc-table-col>

  <tc-table-col [columnTitle]="'Zoology'" [columnName]="'zoologymarks'"></tc-table-col>
  <tc-table-col [columnTitle]="'Botany'" [columnName]="'botanymarks'"></tc-table-col>
  

  <tc-table-col [columnTitle]="'Total Marks'" [columnName]="'totalmarks'"></tc-table-col>  

  <tc-table-col [columnTitle]="'Percentage'" [columnName]="'percentage'" > </tc-table-col>
<tc-table-col [columnTitle]="'Grade'" [columnName]="'grade'"></tc-table-col> 
  

<tc-table-col [columnTitle]="'Operations'">
  <ng-template #tableTDTemplate let-row>
  <button tc-button [block]="true" [view]="'accent'" (click)="showPDF(rows)"  > Print Marksheet</button>
  <button tc-button [block]="true" [view]="'accent'" > Print Data</button>
</ng-template>
  </tc-table-col>
    
 </tc-table>
 <app-hscmarksheet *ngIf="showmarksheet" [marksheetdata]="marksheetdata" (success)="isSuccessful()"></app-hscmarksheet>
 </tc-card>