

<tc-dropdown class="item" [close]="closeDropdown">
   <tc-dropdown-button>
    <div class="d-flex align-items-center">
      <tc-avatar [src]="'/assets/img/profile.svg'" [size]="'30'" class="mr-1" style="background: white;"></tc-avatar>
      <i class="icofont-simple-down"></i>
    </div>
  </tc-dropdown-button> 

  <tc-dropdown-content [align]="'right'" [animation]="'fadeInUp'" [offset]="[10, 0]" [width]="180">
    <ul class="list">
      <!-- <li>
        <a href="#" (click)="goTo($event, 'editaccount')" class="align-items-center">
          <span class="icon icofont-ui-home"></span>
          Edit account
        </a>
      </li>
 -->
      
     
       <li *ngIf="admin">
        <a href="/vertical/usermanage/" (click)="goTo($event, 'usermanage')" class="align-items-center">
          <span class="icon icofont-ui-settings"></span>
          User Managment
        </a>
      </li> 

      <li>
        <a href="/" (click)="logout()" class="align-items-center">
          <span class="icon icofont-logout"></span>
          Log Out
        </a>
      </li>
    </ul>
  </tc-dropdown-content>
</tc-dropdown>
