
<div class="row">
  <div class="col col-12 col-md-6 col-xl-3">
    <tc-card [tcBgColor]="'#fbfbfb'" class="animated fadeInUp delay-01s">
      <div class="row align-items-center">
        <div class="col col-5">
          <tc-icon
            [tcColor]="'rgba(51,108,251,0.5)'"
            [tcFontSize]="48"
            [iconClass]="'icofont-graduate'"
            [padding]="0"
          ></tc-icon>
        </div>

        <div class="col col-7">
          <h6 class="mt-0 mb-1">Ninth Exam Stats</h6>
          <div class="count" [tcFontSize]="20" [tcColor]="'#336cfb'">1500</div>
        </div>
      </div>
    </tc-card>
  </div>

  <div class="col col-12 col-md-6 col-xl-3">
    <tc-card [tcBgColor]="'#fbfbfb'" class="animated fadeInUp delay-02s">
      <div class="row align-items-center">
        <div class="col col-5">
          <tc-icon
            [tcColor]="'rgba(51,108,251,0.5)'"
            [tcFontSize]="48"
            [iconClass]="'icofont-graduate'"
            [padding]="0"
          ></tc-icon>
        </div>

        <div class="col col-7">
          <h6 class="mt-0 mb-1 nowrap">Matric Exam Stats</h6>
          <div class="count" [tcFontSize]="20" [tcColor]="'#336cfb'">8700</div>
        </div>
      </div>
    </tc-card>
  </div>

  <div class="col col-12 col-md-6 col-xl-3">
    <tc-card [tcBgColor]="'#fbfbfb'" class="animated fadeInUp delay-03s">
      <div class="row align-items-center">
        <div class="col col-5">
          <tc-icon
            [tcColor]="'rgba(51,108,251,0.5)'"
            [tcFontSize]="48"
            [iconClass]="'icofont-graduate'"
            [padding]="0"
          ></tc-icon>
        </div>

        <div class="col col-7">
          <h6 class="mt-0 mb-1">First Year Exam Stats</h6>
          <div class="count" [tcFontSize]="20" [tcColor]="'#336cfb'">900</div>
        </div>
      </div>
    </tc-card>
  </div>

  <div class="col col-12 col-md-6 col-xl-3">
    <tc-card [tcBgColor]="'#fbfbfb'" class="animated fadeInUp delay-04s">
      <div class="row align-items-center">
        <div class="col col-5">
          <tc-icon
            [tcColor]="'rgba(51,108,251,0.5)'"
            [tcFontSize]="48"
            [iconClass]="'icofont-graduate'"
            [padding]="0"
          ></tc-icon>
        </div>

        <div class="col col-7">
          <h6 class="mt-0 mb-1 nowrap">Second Year Stats</h6>
          <div class="count" [tcFontSize]="20" [tcColor]="'#336cfb'">1100</div>
        </div>
      </div>
    </tc-card>
  </div>
</div>


<tc-card class="mb-0">
  <tc-table [rows]="rows" [hovered]="true" [pagination]="true" [headerBgColor]="'#336cfb'" [headerColor]="'#fff'">
   
    <tc-table-col [columnTitle]="'School Id'" [columnName]="'value'" [enableSorting]="true">
      <!-- <ng-template #tableTDTemplate let-value>
        <strong>{{ value }}</strong>
      </ng-template> -->
    </tc-table-col>
    <tc-table-col [columnTitle]="'School Name'" [columnName]="'label'" [enableSorting]="true">
      <!-- <ng-template #tableTDTemplate let-value>
        <span [tcColor]="'#a5a5a5'" #id>{{ value }}</span>
      </ng-template> -->
    </tc-table-col>
    
   <!--  <tc-table-col [columnTitle]="'Address'" [columnName]="'address'">
      <ng-template #tableTDTemplate let-value>
        <div class="address-col">{{ value }}</div>
      </ng-template>
    </tc-table-col> -->
   <!--  <tc-table-col [columnTitle]="'Number'" [columnName]="'number'">
      <ng-template #tableTDTemplate let-value>
      <span class="d-flex align-items-center nowrap" [tcColor]="'#336cfb'">
        <tc-icon [iconClass]="'icofont-ui-cell-phone'" [tcFontSize]="16" [padding]="0" class="mr-1"></tc-icon>
        {{ value }}
      </span>
      </ng-template>
    </tc-table-col> -->
    
   <!--  <tc-table-col [columnTitle]="'Status'" [columnName]="'status'" [enableSorting]="true">
      <ng-template #tableTDTemplate let-value>
        <tc-badge [view]="value === 'Approved' ? 'success' : 'warning'">{{ value }}</tc-badge>
      </ng-template>
    </tc-table-col> -->
    <tc-table-col [columnTitle]="'Actions'" [columnName]="'actions'">
      <ng-template #tableTDTemplate let-row="row">
        <div class="actions">
          <button
           
            tc-button
            
            [afterIcon]="'icofont-external-link'"
            [square]="true"
            [tcShape]="500"
            [size]="'sm'"
            (click)="schooldetail(row)"
          ></button>

          <button
            tc-button
            [afterIcon]="'icofont-ui-edit'"
            [view]="'info'"
            [square]="true"
            [tcShape]="500"
            [size]="'sm'"
            
          ></button>

          <button
            tc-button
            [afterIcon]="'icofont-ui-delete'"
            [view]="'error'"
            [square]="true"
            [tcShape]="500"
            [size]="'sm'"
            
          ></button>
        </div>
      </ng-template>
    </tc-table-col>
  </tc-table>
</tc-card>


<!-- edit patient Modal window -->

<!-- end Modal window -->
