<div class="row">
  <div class="col col-12 col-md-6 col-xl-3">
    <tc-card [tcBgColor]="'#fbfbfb'" class="animated fadeInUp delay-01s">
      <div class="row align-items-center">
        <div class="col col-3">
          <tc-icon
            [tcColor]="'rgba(51,108,251,0.5)'"
            [tcFontSize]="48"
            [iconClass]="'icofont-first-aid-alt'"
            [padding]="0"
          ></tc-icon>
        </div>

        <div class="col col-9">
          <h6 class="mt-0 mb-2">Total Certificate issued</h6>
          <div class="count" [tcFontSize]="20" [tcColor]="'#336cfb'">{{totalcertificates}}</div>
        </div>
      </div>
    </tc-card>
  </div>


  <div class="col col-12 col-md-6 col-xl-3">
    <tc-card [tcBgColor]="'#fbfbfb'" class="animated fadeInUp delay-02s">
      <div class="row align-items-center">
        <div class="col col-5">
          <tc-icon
            [tcColor]="'rgba(51,108,251,0.5)'"
            [tcFontSize]="48"
            [iconClass]="'icofont-wheelchair'"
            [padding]="0"
          ></tc-icon>
        </div>

        <div class="col col-7">
          <h6 class="mt-0 mb-1 nowrap">Tokens left</h6>
          <div class="count" [tcFontSize]="20" [tcColor]="'#336cfb'">{{totaltokensleft}}</div>
        </div>
      </div>
    </tc-card>
  </div>
</div>
