.download{
  background: #fff;
}
.downloadpdf{
    padding: 40px ;    
    padding-top: 43%;
    padding-bottom: 43%;
}
.border {
  border: 1px solid #161718 !important;
}
.border-right {
  border-right: 1px solid black !important;
}
.border-bottom {
  border-bottom: 1px solid black !important;
}
.table-border{
    border:1px solid black;
   
    .border-right{
        border-right: 1px solid black;
    }
    .border-bottom{
        border-bottom: 1px solid black;
    }  
}

.vertical-align{    
        display: grid;
        align-items: center;        
}
.align-content{
    -webkit-box-align: end !important;
    align-items: flex-end !important;
  }
@media print {
  * {
    -webkit-print-color-adjust: exact !important;
  }
  .downloadpdf{
    padding: 0 !important;    
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
  .marksheet {
    padding-top: 30%;
    // margin:0 auto;
  }
  .table-border {
    border: 1px solid black !important;
    margin-right: 0px !important;
    margin-left: 0px !important;

    .border-right {
      border-right: 1px solid black !important;
    }
    .border-bottom {
      border-bottom: 1px solid black !important;
    }
  }

  .vertical-align {
    display: grid;
    align-items: center;
  }
  .border {
    border: 1px solid #161718 !important;
  }
  
  .align-content{
    -webkit-box-align: end !important;
    align-items: flex-end !important;     
    .row{
    padding-top:14.5px;    
    }
  }
  .print-padding{
   left: 1px;
  }
  .page-break {page-break-after: always;}
}
