
<div class="row">
	<div class="col-12">
		<h3> HSC Part 1 Pre-Engineering Group</h3>
	</div>
</div>


<div class="row">
		<div class="col-6">
			<button tc-button (click)="insertdata('hscs1sciencepreengineeringclass')">Insert Data</button>
		</div>


		<div class="col-6">
			<button tc-button (click)="displaydata('hscs1sciencepreengineeringdata')">Display Data</button>
		</div>
	</div>



<div class="row">
	<div class="col-12">
		<h3> HSC Part 1 Pre-Medical Group</h3>
	</div>
</div>


<div class="row">
		<div class="col-6">
			<button tc-button (click)="insertdata('hscs1sciencepremedicalclass')">Insert Data</button>
		</div>


		<div class="col-6">
			<button tc-button (click)="displaydata('hscs1sciencepremedicaldata')">Display Data</button>
		</div>
	</div>

  

<div class="row">
	<div class="col-12">
		<h3> HSC Part 1 General Science Group</h3>
	</div>
</div>


<div class="row">
		<div class="col-6">
			<button tc-button (click)="insertdata('hscs1sciencegeneralscienceclass')">Insert Data</button>
		</div>


		<div class="col-6">
			<button tc-button (click)="displaydata('hscs1sciencegeneralsciencedata')">Display Data</button>
		</div>
	</div>


  

<div class="row">
	<div class="col-12">
		<h3> HSC Part 1 Medical Technology Group</h3>
	</div>
</div>


<div class="row">
		<div class="col-6">
			<button tc-button (click)="insertdata('hscs1sciencepremedicalclass')">Insert Data</button>
		</div>


		<div class="col-6">
			<button tc-button (click)="displaydata('hscs1sciencepremedicaldata')">Display Data</button>
		</div>
	</div>
