



<div class="row">
  <div class="col-12">
     <h5>Import Records</h5>
  </div>

  <div class="col-12 ">
     <button tc-button>Import Records</button >
  </div>

  <div class="col-12">
     <h4>OR </h4>
  </div>
</div>

<div class="row">
  <div class="col-6">
<tc-card [title]="'Add Student Record'">
 

  <tc-form-group>
   <tc-form-label>Student Name</tc-form-label>
   <tc-input ></tc-input>
   
  </tc-form-group>

  <tc-form-group>
   <tc-form-label>Student Father Name</tc-form-label>
   <tc-input ></tc-input>
   
  </tc-form-group>

  <tc-form-group>
   <tc-form-label>Student Roll Number</tc-form-label>
   <tc-input ></tc-input>
   
  </tc-form-group>


  <tc-form-group>
   <tc-form-label>English Marks</tc-form-label>
   <tc-input ></tc-input>
   
  </tc-form-group>


  <tc-form-group>
   <tc-form-label>Sindhi Marks</tc-form-label>
   <tc-input ></tc-input>
   
  </tc-form-group>


  <tc-form-group>
   <tc-form-label>Islamiat Marks</tc-form-label>
   <tc-input ></tc-input>
   
  </tc-form-group>


  <tc-form-group>
   <tc-form-label>Computer Marks</tc-form-label>
   <tc-input ></tc-input>
   
  </tc-form-group>

  <tc-form-group>
     <tc-form-label>Select School</tc-form-label>
     <tc-select  [options]="dropdowndata" ></tc-select>

     <tc-form-label>OR Add School</tc-form-label>
     <tc-input></tc-input>
  </tc-form-group>

  <button tc-button>Add Record</button>

</tc-card>
</div>


</div>